<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单元分组-修改</title>
<link href="/__ADMIN__/css/dswh.css" rel="stylesheet" type="text/css" />
<link href="/__ADMIN__/css/cwh.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="content">
{include file="alluse/menu" /}

<div class="main">
<div class="table">
<div class="ups-title">修改</div>
<div class="ups-info add-info">

<form action="" method="post">
    <input type="hidden" name="id" value="{$data.id}" />
    <div class="ups-info-n add-info-n"><div class="info-name">药品名</div>
        <div class="info-in add-in"><input name="yname" type="text" value="{$data.yname}"/></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">注射剂量</div>
        <div class="info-in add-in"><input name="zsml" type="text" value="{$data.zsml}"/></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">备注</div>
        <div class="info-in add-in"><textarea name="bz" style="background-color: #141414;border:0px;width:105%;height:60px;color:#FFFFFF">{$data.bz}</textarea></div>
    </div>

</div>
<input type="submit" value="提交" style="width: 140px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;background: #f05a00;margin: 25px auto;border-radius: 10px;cursor: pointer;border:0px;margin-left: 350px;color:white">

</form>
</div>
</div>


</div>

</div>

</body>


</html>
