<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DTU维护</title>
<link href="/__ADMIN__/css/dwsj.css" rel="stylesheet" type="text/css" />
<link href="/__ADMIN__/css/cwh.css" rel="stylesheet" type="text/css"/>
 <script src="/__ADMIN__/js/jquery.js"></script>
 <script src="/__ADMIN__/js/dssj.js"></script>
<style type="text/css">
.pagination{
    text-align:right;
    margin-top:30px;
}
.pagination li{
    display: inline-block;
}
.page-style{

    width:1000px;
    text-align:right;
}
.page-style a{
  border: 1px solid #999999;
  padding: 5px 7px;
  color: #999999;
  cursor: pointer;
}
</style>
</head>
<body>
<div class="content">
<!--top-->
{include file="common/qheader"}
<!--位置<div class="position"></div>-->
<div class="row">
<!--ce-->
{include file="common/qtlft"}
<div class="main">
  <div class="addto">添加DTU</div>
  <div class="table">
    <table width="1000" border="0">
      <tr>
        <td bgcolor="#191919"><strong>DTU别名</strong></td>
        <td bgcolor="#191919"><strong>出厂编号</strong></td>
        <td bgcolor="#191919"><strong>类型</strong></td>
        <td bgcolor="#191919"><strong>操作</strong></td>
      </tr>
      {volist name="data" id="vo"}
      <tr>
        <td>{$vo.dtuname}</td>
        <td>{$vo.number}</td>
        <td>{$vo.type}</td>
        <td class="opt"><div class="modify"><a href="{:url('Dtu/edit',array('id'=>$vo['id']))}">[修改信息]</a></div><div class="delete"><a href="{:url('Dtu/del',array('id'=>$vo['id']))}" onclick="if(confirm('确定删除?')==false)return false;">[删除]</a></div></td>
      </tr>
      {/volist}
    </table>
    <div class="page-style">
      {$data->render()}
    </div>
  </div>
  <!--1添加分组弹窗-->
  <div class="addto-tc">
    <div class="mark"></div>
    <div class="ups">
      <form action="{:url('add')}" method="post">
      <div class="ups-title">添加DTU<div class="close"><img src="/__ADMIN__/img/close.png" /></div></div>
      <div class="ups-info">
        <div class="ups-info-n">
          <div class="info-name">DTU别名</div>
            <div class="info-in1">
            <input name="dtuname" type="text" value="" placeholder="DTU别名"/>
          </div>
        </div>
        <div class="ups-info-n">
          <div class="info-name">出场编号</div>
            <div class="info-in1">
            <input name="number" type="text" value="" placeholder="出场编号"/>
          </div>
        </div>
        <div class="ups-info-n">
          <div class="info-name">类型</div>
            <div class="info-in1">
              <select name="type">
                <option value="Palace_485V1">Palace_485V1</option>
                <option value="Palace_485V2">Palace_485V2</option>
              </select>
            </div>
        </div>
      </div>
      <input type="submit" style="width: 140px;height: 40px;text-align: center;line-height: 35px;font-size: 16px;background: #f05a00;margin: 25px auto;border-radius: 10px;cursor: pointer;margin-left: 250px;border-color:#F05A00;color:#FFFFFF;" value="提交" />
      </form>
    </div>
  </div>

</div>
</div>
</div>
</div>
</div>
<!---->
</div>
</body>
</html>
