<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单元监控</title>
<link href="/__ADMIN__/css/dwsj.css" rel="stylesheet" type="text/css" />
 <script src="/__ADMIN__/js/jquery.js"></script>
 <script src="/__ADMIN__/js/dssj.js"></script>
  <style>
    .word-color{
      color: #3e57ff;
    }
    .line-height1213{
      line-height: 30px;
    }
    .line-height1213 img {
      width: 60px;
    }
    .environment{
      display: inline-block;
      width: 30px;
      vertical-align: middle;
    }
    .tubiaoul1 li {
      float: left;
      margin: 5px 18px;
      text-align: center;
    }
    .mianyi1213{
      position: relative;
      top: -9px;
      left: 15px;
    }
    .my-n{
      width: 50px;
      height: 5px;
      background-color: white;
      margin-bottom: 8px;
    }
    .my-a{
      width: 50px;
      height: 5px;
      background-color: #3e57ff;
      margin-bottom: 8px;
    }
    .mianyi-bg{
      top: 39px;
      position: relative;
    }
    .imgul {
      width: 100%;
      padding-top: 0px;
    }
  </style>
</head>

<body>
<div class="content">
<!--top-->
{include file="common/qheader"}

<!--位置<div class="position"></div>-->

<div class="row">
<!--ce-->
{include file="common/qtlft"}

<div class="main word-color">

  <div class="min-message">
    <div class="mess-name">单元名：{$dyinfo.dyname}{$info.dyname}</div><!-- <div style="margin-left: -160px">圈号：D001</div> -->
<!--     <div style="margin-top: 7px;margin-left: 620px" class="ds-opt">
      <select name="数据">
        <option>保育单元</option>
        <option>育肥单元</option>
        <option>怀孕单元</option>
        <option>分娩单元</option>
      </select>
    </div> -->
  </div>

<div style="width: 96%;height: 250px;background-color: #1e1e23;padding: 20px;margin-top: 20px">
    <div class="ds-title">消耗数据</div>
  <div style="margin-left: 0" class="table device2">
    <div class="ds-title">饲料量</div>
    <div style="width: 230px;height: 20px;background-color: #3c3c3c;margin-top: 50px;margin-left: 30px">
      <div style="width: 50px;height: 20px;background-color: #fa9600;">
      </div>
      <div style="margin-top: 20px"><span>0</span><span class="ventilation">100</span><span class="ventilation">200</span></div>
    </div>
  </div>
  <div style="margin-left: 20px" class="table device2">
    <div class="ds-title">饮水量</div>
    <div style="width: 230px;height: 20px;background-color: #3c3c3c;margin-top: 50px;margin-left: 30px">
      <div style="width: {$hw.W}px;height: 20px;background-color: #fa9600;">
      </div>
      <div style="margin-top: 20px"><span>0</span><span class="ventilation">100</span><span class="ventilation">200</span></div>
    </div>
  </div>
  <div style="margin-left: 20px" class="table device2">
    <div class="ds-title">用电量</div>
    <div style="width: 230px;height: 20px;background-color: #3c3c3c;margin-top: 50px;margin-left: 30px">
      <div style="width: 50px;height: 20px;background-color: #fa9600;">
      </div>
      <div style="margin-top: 20px"><span>0</span><span class="ventilation">100</span><span class="ventilation">200</span></div>
    </div>
  </div>
</div>

  <div style="width: 96%;height: 130px;background-color: #1e1e23;padding: 20px;margin-top: 20px;color: white">
    <div class="ds-title">动物资产</div>
    <div>
      <ul class="imgul">
        <li>
          <img src="/__ADMIN__/img/tubiao1.png" alt="">

            <div class="numright">
              {$num.cunlan}
            </div>
            <div class="wordright1">
              当前动物数
            </div>

        </li>
        <li>
          <img src="/__ADMIN__/img/tubiao2.png" alt="">

            <div class="numright">
              {$num.in_num}
            </div>
            <div class="wordright1">
              初始数量
            </div>
        </li>
        <li>
          <img src="/__ADMIN__/img/tubiao3.png" alt="">

            <div class="numright">
              {$num.current_date_year}
            </div>
            <div class="wordright1">
              日龄
            </div>

        </li>
        <li>
          <img src="/__ADMIN__/img/tubiao4.png" alt="">

            <div class="numright">
              {$num.die_num}
            </div>
            <div class="wordright1">
              死亡
            </div>

        </li>
        <li>
          <img class="mianyi-bg" src="/__ADMIN__/img/tubiao5.png" alt="">
          <div class="mianyi1213">
            <div class="my-n"></div>
            <div class="my-a"></div>
            <div class="my-a"></div>
          </div>

            <div class="numright">
              2
            </div>
            <div class="wordright1">
              免疫
            </div>

        </li>
        <li>
          <img src="/__ADMIN__/img/tubiao6.png" alt="">
            <div class="numright">
              322
            </div>
            <div class="wordright1">
              治疗
            </div>

        </li>
      </ul>

    </div>
  </div>
  <div>
  <div style="height: 230px" class="table">
    <div class="ds-title">环境状态</div>
    <div style="margin-top: 20px">
      <ul class="tubiaoul1">
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 40px;background-color: #3c3c3c;">

            </div>
          </div><br>
          <img class="environment" src="/__ADMIN__/img/wd1213.png" alt="">{$hw.T1}℃
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 40px;background-color: #3c3c3c;">

            </div>
          </div><br>
          <img class="environment" src="/__ADMIN__/img/wd1213.png" alt=""> {$hw.T2}℃
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 40px;background-color: #3c3c3c;">

            </div>
          </div><br>
          <img class="environment" src="/__ADMIN__/img/wd1213.png" alt=""> {$hw.T3}℃
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 50px;background-color: #3c3c3c;">

            </div>
          </div
          ><br>
          <img class="environment" src="/__ADMIN__/img/shidu1213.png" alt=""> {$hw.HU}%
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 60px;background-color: #3c3c3c;">

            </div>
          </div
          ><br>
          <img class="environment" src="/__ADMIN__/img/eyht1213.png" alt=""> {$hw.CO2}ppm
        </li>
        <li>

          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 20px;background-color: #3c3c3c;">

            </div>
          </div
        ><br>
          <img class="environment" src="/__ADMIN__/img/pm101213.png" alt=""> {$hw.PM}ug/m3
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 10px;background-color: #3c3c3c;">

            </div>
          </div
          ><br>
          <img class="environment" src="/__ADMIN__/img/gzdj1213.png" alt=""> {$hw.LI}Lux
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 80px;background-color: #3c3c3c;">

            </div>
          </div
          ><br>
          <img class="environment" src="/__ADMIN__/img/fyzs1213.png" alt=""> {$hw.NP}pa
        </li>
        <li>
          <div class="histogram">
            <div style="width: 20px;margin:0 auto;height: 50px;background-color: #3c3c3c;">

            </div>
          </div
          ><br>
          <img class="environment" src="/__ADMIN__/img/aq1213.png" alt=""> {$hw.AM}ppm
        </li>
      </ul>

    </div>
  </div>


<div style="height: 230px" class="table">
<div style="margin-top: 20px">
<ul class="tubiaoul1">
  <li><div class="histogram">
      <div style="width: 20px;margin:0 auto;height: 40px;background-color: #3c3c3c;">

      </div>
    </div
    ><br>
    <img class="environment" src="/__ADMIN__/img/tfl1213.png" alt=""> 30m³/h
  </li>
</ul>
</div>
</div>

  <div style="width: 96%;height: 50px;background-color: #1e1e23;padding: 20px;margin-top: 20px">
    <div class="ds-title">设备状态</div>
</div>
  <div style="height: 300px" class="table device1">
    <div class="ds-title">定速风机</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/dingsufengji-a.png" alt=""><br>风机1({if condition="$hwt.RS.0 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/dingsufengji-a.png" alt=""><br>风机2({if condition="$hwt.RS.1 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/dingsufengji.png" alt=""><br>风机3({if condition="$hwt.RS.3 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/dingsufengji.png" alt=""><br>风机4({if condition="$hwt.RS.4 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/dingsufengji.png" alt=""><br>风机5({if condition="$hwt.RS.5 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/dingsufengji.png" alt=""><br>风机6({if condition="$hwt.RS.6 eq '1'"}开启{else /}关闭{/if})</li>

    </ul>
  </div>
  <div style="height:300px;" class="table device2">
    <div class="ds-title">变速风机</div>
    <ul class="tubiaoul line-height1213">
      <li style="margin-left: -28px"><img src="/__ADMIN__/img/biansufengji-a.png" alt=""><br>A01({$hwt.RS2}%)</li>
      <li ><img src="/__ADMIN__/img/biansufengji-a.png" alt=""><br>A02({$hwt.RS3}%)</li>
      <li ><img src="/__ADMIN__/img/biansufengji.png" alt=""><br>A03({$hwt.RS4}%)</li>
      <li style="margin-right: -34px"><img src="/__ADMIN__/img/biansufengji.png" alt=""><br>A04({$hwt.RS5}%)</li>
    </ul>
  </div>
  </div>
  <div style="height:300px;" class="table device2">
    <div class="ds-title">变频器</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/bianpinqi-a.png" alt=""><br>变频器1({$hwt.RS18}rpm)</li>
      <li><img src="/__ADMIN__/img/bianpinqi-a.png" alt=""><br>变频器2({$hwt.RS20}rpm)</li>
      <li><img src="/__ADMIN__/img/bianpinqi.png" alt=""><br>变频器3({$hwt.RS22}rpm)</li>
    </ul>
  </div>
  <div style="margin-left: 20px" class="table device1">
    <div class="ds-title">照明</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/zhaoming-a.png" alt=""><br>A01({if condition="$hwt.RS0.7 eq '1'"}开启{else /}关闭{/if})</li>
    </ul>
  </div>
  <div class="table device2">
    <div class="ds-title">湿帘</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/shilian-a.png" alt=""><br>湿帘({if condition="$hwt.RS1.0 eq '1'"}开启{else /}关闭{/if})</li>
    </ul>
  </div>
  <div style="margin-left: 0" class="table device2">
    <div class="ds-title">喷淋</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/penlin-a.png" alt=""><br>喷淋1({if condition="$hwt.RS1.1 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/penlin.png" alt=""><br>喷淋2({if condition="$hwt.RS1.2 eq '1'"}开启{else /}关闭{/if})</li>
    </ul>
  </div>
  <div style="margin-left: 20px" class="table device1">
    <div class="ds-title">喂料</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/weiliao-a.png" alt=""><br>喂料1({if condition="$hwt.RS1.3 eq '1'"}开启{else /}关闭{/if})</li>
      <li><img src="/__ADMIN__/img/weiliao.png" alt=""><br>喂料2({if condition="$hwt.RS1.4 eq '1'"}开启{else /}关闭{/if})</li>
    </ul>
  </div>
  <div class="table device2">
    <div class="ds-title">暖灯</div>
    <ul class="tubiaoul line-height1213">
      <li><img src="/__ADMIN__/img/nuandeng-a.png" alt=""><br>暖灯({if condition="$hwt.RS1.5 eq '1'"}开启{else /}关闭{/if})</li>
    </ul>
  </div>




</div>

</div>

</div>
<!--怀孕单元弹窗-->


</body>


</html>
