<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>繁殖厂-分组</title>
<link href="/__INDEX__/css/d-fz.css" rel="stylesheet" type="text/css" />
 <script src="/__INDEX__/js/jquery.js" ></script>
  <script src="/__INDEX__/js/zc.js" ></script>
</head>

<body>
<div class="content">
<!--top-->
<div class="top">
<div class="m-min">
<div class="logo"><img src="/__INDEX__/img/logo.png"/></div>
<div class="top-r">
<div class="tx"><div class="tx-img"><img src="/__INDEX__/img/tx.png" /></div> <div class="tx-name">牧原1234</div>  </div>
<div class="t-alarm"><img src="/__INDEX__/img/zc-jb.png" /></div>
<div class="t-sett"><img src="/__INDEX__/img/t-sett.png" /></div>
</div>
</div>
</div>

<!--位置-->
<div class="position">
<div class="m-min m-top"><div class="p-info"><a href="/">首页</a> > <a href="#">单元分组对比</a> </div>
<div class="message">
<!--<div class="mess-cs">初始动物：400</div>
<div class="mess-dq">当前动物：398</div>
<div class="mess-sw">累计死亡：2</div>-->
<div class="mess-cl">累计饲料：200</div>
<div class="mess-wat">累计用水：400</div>
<div class="mess-ele">累计用电：400</div>
</div>

</div>
</div>

<div class="row">
<!--ce-->
<div class="sidebar">
<ul style="margin-top:20px;">
<li class="li-f sid_checked"><div class="li-first  ">单元分组 <img src="/__INDEX__/img/site-x.png" /></div>
    <ul class="li-firstDrop">
     <li >单元01-05 </li>
     <li > 单元05-10</li>
     <li class="deop-checked"> 单元11-15</li>
     <li > 单元16-20</li>
    </ul>
</li>
<li class="li-f"><div class="li-first">单元对比  <img src="/__INDEX__/img/site-x.png" /></div></li>

</ul>
</div>

<div class="main">
<div class="table">
<table width="1050" border="0">
  <tr>
    <td bgcolor="#191919">单元</td>
    <td bgcolor="#191919"><strong>状态</strong></td>
    <td bgcolor="#191919"><strong>日龄</strong></td>
    <td bgcolor="#191919"><strong>温度（前）/℃</strong></td>
    <td bgcolor="#191919"><strong>温度（中）/℃</strong></td>
    <td bgcolor="#191919"><strong>温度（后）/℃</strong></td>
    <td bgcolor="#191919"><strong>湿度/%</strong></td>
    <td bgcolor="#191919"><strong>通风量/m³/h</strong></td>
    <td bgcolor="#191919"><strong>存栏量/头</strong></td>
  </tr>
  <tr>
    <td class="alarm1">单元1</td>  <td>在线</td>  <td>8</td>  <td>29.3</td>  <td>29.3</td>  <td>30</td>
    <td>70</td>  <td>80</td>  <td></td>
  </tr>
  <tr>
    <td>单元2</td>  <td>空舍</td>  <td>7</td>  <td>29</td>  <td>29.3</td>  <td>30</td>
    <td>70</td>  <td>80</td>  <td></td>
  </tr>
  <tr>
   <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>
    <td>&nbsp;</td>  <td>&nbsp;</td>  <td></td>
  </tr>
  <tr>
    <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>
    <td>&nbsp;</td>  <td>&nbsp;</td>  <td></td>
  </tr>
  <tr>
   <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>  <td>&nbsp;</td>
    <td>&nbsp;</td>  <td>&nbsp;</td>  <td></td>
  </tr>

</table>
</div>
</div>


<!--警报弹窗-->
<div class="alarm1-tc">
<div class="alarm-title">报警信息 <div class="close"><img src="/__INDEX__/img/close.png" /></div></div>
<div class="alarm-info">
<div class="alarm-in"><div class="alarm-in-l"><span>分娩舍1</span><span>高温报警</span><span>2018-10-12 14:30:12</span></div>
</div>
</div>
</div>


<!--删除-->


</div>

</div>
<!---->
</div>
</body>


</html>
