<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单元列表</title>
<link href="/__ADMIN__/css/dwsj.css" rel="stylesheet" type="text/css" />
 <script src="/__ADMIN__/js/jquery.js"></script>
 <script src="/__ADMIN__/js/dssj.js"></script>
 <style type="text/css">
.pagination{
    text-align:right;
    margin-top:30px;
}
.pagination li{
    display: inline-block;
}
.page-style{

    width:1000px;
    text-align:right;
}
.page-style a{
  border: 1px solid #999999;
  padding: 5px 7px;
  color: #999999;
  cursor: pointer;
}
</style>
</head>

<body>
<div class="content">
<!--top-->
{include file="common/qheader"}
<!--位置<div class="position"></div>-->
<div class="row">
<!--ce-->
{include file="common/qtlft"}
<div class="main">
  <div class="addto"><a href="{:url('Dylb/add')}">添加单元</a></div>
  <div class="table">
    <table width="1000" border="0">
      <tr>
        <td bgcolor="#191919"><strong>序号</strong></td>
        <td bgcolor="#191919"><strong>单元名</strong></td>
        <td bgcolor="#191919"><strong>分组</strong></td>
        <td bgcolor="#191919"><strong>接入DTU</strong></td>
        <td bgcolor="#191919"><strong>控制器编号</strong></td>
        <td bgcolor="#191919"><strong>报警手机</strong></td>
        <td bgcolor="#191919"><strong>单元类型</strong></td>
        <td bgcolor="#191919"><strong>[OPT]</strong></td>
      </tr>
      {volist name="data" id="vo"}
      <tr>
        <td>{$vo.id}</td>
        <td><a href="{:url('Piggery/lst',array('dyid'=>$vo['id']))}">{$vo.dyname}</a></td>
        <td>{$vo.fzname}</td>
        <td>{$vo.dtuname}</td>
        <td>{$vo.controller}</td>
        <td>{$vo.warningtel}</td>
        <td>{if condition="$vo['dytype'] eq 1"} 保育单元 {elseif condition="$vo['dytype'] eq 2"} 育肥单元 {elseif condition="$vo['dytype'] eq 3"} 怀孕单元 {elseif condition="$vo['dytype'] eq 4"} 分娩单元 {/if}</td>
        <td class="opt"><div class="modify"><a href="{:url('Dylb/edit',array('id'=>$vo['id']))}">[修改信息]</a></div><div class="delete"><a href="{:url('Dylb/del',array('id'=>$vo['id']))}" onclick="if(confirm('确定删除({$vo.dyname})数据吗?')==false)return false;">[删除]</a></div></td>
      </tr>
      {/volist}
    </table>
    <div class="page-style">
      {$data->render()}
    </div>
  </div>
</div>
</div>

</div>
</div>
<!---->
</div>
</body>
</html>
