<div class="top">
        <div class="m-min">
            <div class="logo"><img src="/__ADMIN__/img/logo.png"/></div>
            <div class="top-r">
                <div onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)" id="navigation">
                    <div class="tx">
                        <div class="tx-img"><img src="/__ADMIN__/img/tx.png"/></div>
                        <div class="tx-name">{$username}</div>
                    </div>
                    <ul >
                        <li><a href="#">密码修改</a></li>
                        <li><a href="#">用户信息修改</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>