<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改dtu</title>
<link href="/__ADMIN__/css/dwsj.css" rel="stylesheet" type="text/css" />

 <script src="/__ADMIN__/js/jquery.js"></script>
 <script src="/__ADMIN__/js/dssj.js"></script>
</head>

<body>
<div class="content">
<!--top-->
<div class="top">
<div class="m-min">
<div class="logo"><img src="/__ADMIN__/img/logo.png"/></div>
<div class="top-r">
<div class="tx"><div class="tx-img"><img src="/__ADMIN__/img/tx.png" /></div> <div class="tx-name">牧原1234</div>  </div>
<div class="t-alarm"><img src="/__ADMIN__/img/zc-jb.png" /></div>
<div class="t-sett"><img src="/__ADMIN__/img/t-sett.png" /></div>
</div>
</div>
</div>

<!--位置<div class="position"></div>-->

<div class="row">
<!--ce-->
{include file="common/qtlft"}

  <div class="main">
    <div class="table">
      <div class="ups-title">修改DTU</div>
      <div class="ups-info add-info">
        <form action="" method="post">
            <input type="hidden" name="id" value="{$date.id}" />
            <div class="ups-info-n add-info-n"><div class="info-name">DTU别名 </div>
                <div class="info-in1 add-in">
                    <input name="dtuname" type="text" value="{$date.dtuname}"/>
                </div>
            </div>
            <div class="ups-info-n add-info-n"><div class="info-name">出厂编号</div>
                <div class="info-in1 add-in">
                    <input name="number" type="text" value="{$date.number}"/>
                </div>
            </div>
            <div class="ups-info-n add-info-n"><div class="info-name">类型</div>
                <div class="info-in1 add-in">
                    <input name="type" type="text" value="{$date.type}"/>
                </div>
            </div>
            <input type="submit" value="提交" style="width: 140px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;background: #f05a00;margin: 20px auto;border-radius: 10px;cursor: pointer;border:0px;margin-left: 350px;color:white">
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!--修改弹窗-->
<div class="modify-tc">
  <div class="mark"></div>
  <div class="ups">
    <div class="ups-title">单元01-05信息修改<div class="close"><img src="/__ADMIN__/img/close.png" /></div></div>
    <div class="ups-info">
      <div class="ups-info-n01"><div class="info-name1">项目</div>
        <div class="info-in1">山西长荣农业科技股份有限公司1200头母猪场</div></div>

      <div class="ups-info-n01"><div class="info-name1">分组名称</div>
        <div class="info-in1"><input name="名称" type="text" value="单元01-05" /></div></div>

      <div class="ups-info-n01"><div class="info-name1">排序</div>
        <div class="info-in1"><input name="排序" type="text" value="100" /></div></div>
    </div>
    <div class="ups-button">提交</div>
  </div>
</div>


<!--删除-->
<div class="delete-tc">
  <div class="mark"></div>
  <div class="ups">
    <div class="ups-title delete-title"><div class="close"><img src="/__ADMIN__/img/close.png" /></div></div>
    <div class="ups-info delete-info">
      确定要删除单元 单元01-05 吗？
    </div>
    <div class="ups-button">确认删除</div>
  </div>
</div>



<!--怀孕单元弹窗-->
</div>

</div>
<!---->
</div>
</body>


</html>
