<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>猪场-繁殖厂</title>
<link href="/__INDEX__/css/sc.css" rel="stylesheet" type="text/css" />
<script src="/__INDEX__/js/jquery.js" ></script>
<script src="/__INDEX__/js/zc.js" ></script>
</head>

<body>
<div class="content">
<div class="label">繁殖厂</div>
<div class="title">
<div class="title-b">{$zc.xmname}</div><div class="enter"><a href="#">点击进入</a></div>
<div class="alarm"><img src="/__INDEX__/img/zc-jb.png" /></div>
</div>
<div class="title-info">
<div class="info-name">主要负责人：{$zc.fzrname}</div><div class="info-phone">联系电话：{$zc.tel}</div>
<div class="info-site">地址：{$zc.address}</div>
</div>

<div class="ds">
<div class="ds-title">单元</div>
<div class="ds-ul">
<div class="ds-opt">
<select onchange="window.location=this.value;">
  <option>--------怀孕单元--------</option>
  {volist name="hyinfo" id="vo"}
  <option value="{:url('jk/index',array('id'=>$vo['id']))}">{$vo.dyname}</option>
  {/volist}
</select>
</div>

<div class="ds-opt">
<select onchange="window.location=this.value;">
  <option>--------分娩单元--------</option>
  {volist name="fminfo" id="vo"}
  <option value="{:url('jk/index',array('id'=>$vo['id']))}">{$vo.dyname}</option>
  {/volist}
</select>
</div>

</div>
</div>

<div class="sc-min">
<!--biao-->
<div class="zc-table fz-table">
<table width="500" border="0">
  <td bgcolor="#28282d"><strong> </strong></td>
    <td bgcolor="#28282d"><strong>怀孕母猪</strong></td>
    <td bgcolor="#28282d"><strong>哺育母猪</strong></td>
    <td bgcolor="#28282d"><strong>仔猪</strong></td>
  <tr>
   <td bgcolor="#28282d"><strong>转入头数 </strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
   <td bgcolor="#28282d"><strong>存栏头数 </strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
   <td bgcolor="#28282d"><strong>死亡头数</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
   <td bgcolor="#28282d"><strong>流产头数</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
   <td bgcolor="#28282d"><strong>成活率%</strong></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

</div>
<!--天气-->
<div class="weather">
<ul>
  {volist name="weather" id="w"}
    <li>
      <div class="">{$w.week}</div>
      <div class="">{$w.day}</div>
      <div class="">{$w.temphigh}°</div>
      <div class="">{$w.templow}°</div>
      <div class="">
        <img src="/__INDEX__/img/{$w.weather}.gif" />
      </div>
      <div class="">{$w.weather}</div>
      <div class="">{$w.wind}</div>
    </li>
  {/volist}
</ul>
</div>
</div>

<!--警报弹窗-->
<div class="alarm-tc">
<div class="alarm-title">报警信息 <div class="close"><img src="/__INDEX__/img/close.png" /></div></div>
<div class="alarm-info">
<div class="alarm-in"><div class="alarm-in-l"><span>分娩舍1</span><span>高温报警</span><span>2018-10-12 14:30:12</span></div>
<div class="alarm-in-c">查看</div></div>

<div class="alarm-in"><div class="alarm-in-l"><span>分娩舍1</span><span>高温报警</span><span>2018-10-12 14:30:12</span></div>
<div class="alarm-in-c">查看</div></div>
</div>
</div>

</div>
</body>
</html>
