<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>环控设置</title>
<link href="/__INDEX__/css/dwsj.css" rel="stylesheet" type="text/css" />
    <link href="/__INDEX__/css/style.css" rel="stylesheet" type="text/css" />
 <script src="/__INDEX__/js/jquery.js"></script>
 <script src="/__INDEX__/js/dssj.js"></script>
    <script src="/__INDEX__/js/index.js"></script>
</head>

<body>
<div class="content">
<!--top-->
{include file="common/qheader"}

<!--位置<div class="position"></div>-->

<div class="row">
<!--ce-->
{include file="common/qtlft"}

<div class="main">
    <div style="" class="min-message">
        <div class="mess-name">单元号：D001</div>
        <div style="margin-left: -160px">圈号：D001</div>
        <!--
        <div style="position:absolute;margin-top: 7px; left: 580px;width: 160px" class="addto"><a href="tianjia.html">控制器参数手动上传</a></div>
        <div style="position:absolute;margin-top: 7px; left: 770px" class="addto"><a href="tianjia.html">重启控制器</a></div>
        -->
        <div style="position:absolute;margin-top: 7px; left: 900px" class="ds-opt">
            <select name="数据">
                <option>保育舍1</option>
                <option>保育舍2</option>
                <option>保育舍3</option>
                <option>保育舍4</option>
            </select>
        </div>

    </div>

  <div class="machine-ul">
        <div class="blue-head"></div>
      &nbsp;&nbsp;定速风机
      <ul>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机1</div>
          </li>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机2</div>
          </li>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机3</div>
          </li>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机4</div>
          </li>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机5</div>
          </li>
          <li>
              <img src="/__INDEX__/img/dingsufengji.png" alt="">
              <div class="switch">
                  <input type="checkbox" name="toggle">
                  <label for="toggle"><i></i></label>
                  <span></span>
              </div>
              <div style="text-align: center">定速风机6</div>
          </li>
      </ul>
  </div>
    <div class="machine-ul">
        <div class="blue-head"></div>
        &nbsp;&nbsp;变速风机
        <ul>
            <li>
                <img src="/__INDEX__/img/biansufengji.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变速风机1</div>
            </li>
            <li>
                <img src="/__INDEX__/img/biansufengji.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变速风机2</div>
            </li>
            <li>
                <img src="/__INDEX__/img/biansufengji.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变速风机3</div>
            </li>
            <li>
                <img src="/__INDEX__/img/biansufengji.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变速风机4</div>
            </li>
        </ul>
    </div>
    <div style=" width: 475px" class="machine-ul">
        <div class="blue-head"></div>
        &nbsp;&nbsp;变频器
        <ul>
            <li>
                <img src="/__INDEX__/img/bianpinqi.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变频器1</div>
            </li>
            <li>
                <img src="/__INDEX__/img/bianpinqi.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变频器2</div>
            </li>
            <li>
                <img src="/__INDEX__/img/bianpinqi.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">变频器3</div>
            </li>
        </ul>
    </div>
    <div style="width: 475px;margin-left: 525px;margin-top: -240px;" class="machine-ul">
        <div style=" margin-top: -39px;" class="blue-head"></div>
       <div style="display: inline-block;margin-left: 20px">照明</div>
        <ul>
            <li>
                <img src="/__INDEX__/img/zhaoming.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">照明1</div>
            </li>
        </ul>
    </div>
    <div style=" width: 475px" class="machine-ul">
        <div class="blue-head"></div>
        &nbsp;&nbsp;湿帘
        <ul>
            <li>
                <img src="/__INDEX__/img/shilian.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">湿帘1</div>
            </li>
        </ul>
    </div>
    <div style="width: 475px;margin-left: 525px;margin-top: -240px;" class="machine-ul">
        <div style=" margin-top: -39px;" class="blue-head"></div>
        <div style="display: inline-block;margin-left: 20px">喷淋</div>
        <ul>
            <li>
                <img src="/__INDEX__/img/penlin.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">喷淋1</div>
            </li>
            <li>
                <img src="/__INDEX__/img/penlin.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">喷淋2</div>
            </li>
        </ul>
    </div>
    <div style=" width: 475px" class="machine-ul">
        <div class="blue-head"></div>
        &nbsp;&nbsp;喂料
        <ul>
            <li>
                <img src="/__INDEX__/img/weiliao.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">喂料1</div>
            </li>
            <li>
                <img src="/__INDEX__/img/weiliao.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">喂料2</div>
            </li>
        </ul>
    </div>
    <div style="width: 475px;margin-left: 525px;margin-top: -240px;" class="machine-ul">
        <div style=" margin-top: -39px;" class="blue-head"></div>
        <div style="display: inline-block;margin-left: 20px">暖灯</div>
        <ul>
            <li>
                <img src="/__INDEX__/img/nuandeng.png" alt="">
                <div class="switch">
                    <input type="checkbox" name="toggle">
                    <label for="toggle"><i></i></label>
                    <span></span>
                </div>
                <div style="text-align: center">暖灯1</div>
            </li>
        </ul>
    </div>
</div>
</div>
</div>



<!--怀孕单元弹窗-->

</body>


</html>
