<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>单元分组-添加</title>
<link href="/__ADMIN__/css/dswh.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="content">
{include file="alluse/menu" /}

<div class="main">
<div class="table">
<div class="ups-title">添加场信息</div>
<div class="ups-info add-info">

<form action="" method="post">
    <div class="ups-info-n add-info-n"><div class="info-name">项目</div>
        <div class="info-in add-in"><input name="xmname" type="text" required="required" placeholder="项目" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">所属区域</div>
        <div class="info-in add-in"><input name="region" type="text" required="required" placeholder="所属区域" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">所属省份</div>
        <div class="info-in add-in"><input name="province" type="text" required="required" placeholder="所属省份" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">所属子公司</div>
        <div class="info-in add-in"><input name="zgs" type="text" required="required" placeholder="所属子公司" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">地址</div>
        <div class="info-in add-in"><input name="address" type="text" required="required" placeholder="地址" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">负责人</div>
        <div class="info-in add-in"><input name="fzrname" type="text" required="required" placeholder="负责人" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">电话</div>
        <div class="info-in add-in"><input name="tel" type="text" required="required" placeholder="电话" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">说明</div>
        <div class="info-in add-in"><input name="explains" type="text" required="required" placeholder="说明" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">报警电话</div>
        <div class="info-in add-in"><input name="bjtel" type="text" required="required" placeholder="报警电话" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">场分类</div>
        <div class="info-in add-in">
            <select name="category">
                <option value="1">生产厂</option>
                <option value="2">繁殖场</option>
            </select>
        </div>
    </div>

</div>
<input type="submit" value="提交" style="width: 140px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;background: #f05a00;margin: 25px auto;border-radius: 10px;cursor: pointer;border:0px;margin-left: 350px;color:white">

</form>
</div>
</div>


</div>

</div>

</body>


</html>
