<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户-添加</title>
<link href="/__ADMIN__/css/dswh.css" rel="stylesheet" type="text/css" />
<link href="/__ADMIN__/css/cwh.css" rel="stylesheet" type="text/css"/>
    <script src="/__ADMIN__/js/dswh.js"></script>
</head>

<body>
<div class="content">
{include file="alluse/menu" /}

<div class="main">
<div class="table">
<div class="ups-title">添加用户</div>
<div class="ups-info add-info">

<form action="" method="post">
    <div class="ups-info-n add-info-n"><div class="info-name">用户名</div>
        <div class="info-in add-in"><input name="username" type="text" required="required" placeholder="用户名" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">密码</div>
        <div class="info-in add-in"><input name="password" type="text" required="required" placeholder="密码" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">权限</div>
        <div class="info-in add-in">
            <select name="permission">
                <option value="1">集团总监</option>
                <option value="2">区域总监</option>
                <option value="3">子公司总监</option>
                <option value="4">场长</option>
                <option value="5">段长</option>
                <option value="6">饲养员</option>
            </select>
        </div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">姓名</div>
        <div class="info-in add-in"><input name="name" type="text" required="required" placeholder="姓名" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">电话</div>
        <div class="info-in add-in"><input name="tel" type="text" required="required" placeholder="电话" /></div>
    </div>
    <div class="ups-info-n add-info-n"><div class="info-name">邮箱</div>
        <div class="info-in add-in"><input name="email" type="email" required="required" placeholder="邮箱" /></div>
    </div>
</div>
<input type="submit" value="提交" style="width: 140px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;background: #f05a00;margin: 25px auto;border-radius: 10px;cursor: pointer;border:0px;margin-left: 350px;color:white">

</form>
</div>
</div>


</div>

</div>

</body>


</html>
