<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理-用户列表</title>
    <link href="/__ADMIN__/css/cwh.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/__ADMIN__/js/dswh.js"></script>
    <script type="text/javascript">

    </script>
<style type="text/css">
    .pagination{
        text-align:right;
    }
    .pagination li{
        display: inline-block;
    }
    .page-style{
        width:1000px;
    }
    td
    {
        /*设置表格文字左右和上下居中对齐*/
        vertical-align: middle;
        text-align: center;
        /*设置表格文字在一行显示*/
        text-overflow:ellipsis;
        word-break:keep-all;
        white-space:nowrap;
    }
</style>
</head>

<body>
<div class="content">
    {include file="alluse/menu" /}
     <!--修改弹窗-->
       <div class="main">
            <div class="table">
                <table width="1100" border="0">
                    <tr>
                        <td bgcolor="#191919" width="20%"><strong>名称</strong></td>
                        <td bgcolor="#191919" width="20%"><strong>地址</strong></td>
                        <td bgcolor="#191919" width="20%"><strong>负责人</strong></td>
                        <td bgcolor="#191919" ><strong>电话</strong></td>
                        <td bgcolor="#191919" ><strong>报警电话</strong></td>
                        <td bgcolor="#191919" ><strong>说明</strong></td>
                        <td bgcolor="#191919" ><strong>操作</strong></td>
                    </tr>
                    {volist name="data" id="vo"}
                    <tr>
                        <td>{$vo.xmname}</td>
                        <td>{$vo.address}</td>
                        <td>{$vo.fzrname}</td>
                        <td>{$vo.tel}</td>
                        <td>{$vo.bjtel}</td>
                        <td>{$vo.explains}</td>
                        <td class="opt">
                            <a href="{:url('Cwh/edit',array('id'=>$vo['id']))}">[修改信息]</a>
                            <a href="{:url('Cwh/del',array('id'=>$vo['id']))}" onclick="if(confirm('确定删除?')==false)return false;">[删除]</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                <div class="page-style">
                    {$data->render()}
                </div>
            </div>
        </div>
    </div>

<!---->

</body>


</html>
