<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>动物数据-怀孕单元</title>
<link href="/__ADMIN__/css/dwsj.css" rel="stylesheet" type="text/css" />
 <script src="/__INDEX__/js/jquery.js"></script>
 <script src="/__INDEX__/js/dssj.js"></script>
</head>
 <style type="text/css">
.pagination{
    text-align:right;
    margin-top:30px;
}
.pagination li{
    display: inline-block;
}
.page-style{

    width:1000px;
    text-align:right;
}
.page-style a{
  border: 1px solid #999999;
  padding: 5px 7px;
  color: #999999;
  cursor: pointer;
}
</style>
<body>
<div class="content">
<!--top-->
{include file="common/qheader"}

<!--位置<div class="position"></div>-->

<div class="row">
<!--ce-->
{include file="common/qtlft"}
<div class="main">
<div class="min-message">
<div class="mess-name">胎次：{$num.tc}次</div>
</div>

<div class="table">
<table width="1050" border="0">
  <tr>
    <td bgcolor="#191919"><strong>耳标号</strong></td>
    <td bgcolor="#191919"><strong>胎次</strong></td>
    <td bgcolor="#191919"><strong>配种日期</strong></td>
    <td bgcolor="#191919"><strong>孕龄</strong></td>
    <td bgcolor="#191919"><strong>膘情</strong></td>
    <td bgcolor="#191919"><strong>预计分娩日期</strong></td>
    <td bgcolor="#191919"><strong>转入时间</strong></td>
    <td bgcolor="#191919"><strong>转出时间</strong></td>
    <td bgcolor="#191919"><strong>转出理由</strong></td>
    </tr>
{volist name="data" id="vo"}
  <tr>
    <td class="edit-hy">{$vo.jnumber}<input type="hidden" value="{$vo.id}" id="hid" /></td>
    <td>{$vo.logs.tc}</td>
    <td>{$vo.logs.breeding_time}</td>
    <td>{$vo.logs.pregnancy_time}</td>
    <td>{$vo.logs.measure}</td>
    <td>{$vo.logs.expected_time}</td>
    <td>{$vo.addtime|date="Y-m-d H:i",###}</td>
    <td>{$vo.logs.out_time}</td>
    <td>{$vo.logs.out_reason}</td>
    </tr>
{/volist}
</table>
<div class="page-style">
    {$page1}
</div>
</div>
<!--统计-->
<div class="sj-count">
<div class="sj-count-b">单元统计</div>
<div class="sj-count-n"><span>转入头数:{$num.in_num}</span> <span>存栏量:{$num.in_num}</span> <span>死亡量:{$num.die_num}</span>  <span>数量差异:{$num.in_num}</span> <span>流产数量:{$num.out_num}</span> </div>
</div>

<!--修改记录-->
<div class="record">
<div class="z-title">编辑记录</div>
<div class="table">
<table width="1050" border="0">
<tr>
    <td bgcolor="#191919"><strong>耳标号</strong></td>
    <td bgcolor="#191919"><strong>胎次</strong></td>
    <td bgcolor="#191919"><strong>配种日期</strong></td>
    <td bgcolor="#191919"><strong>孕龄</strong></td>
    <td bgcolor="#191919"><strong>膘情</strong></td>
    <td bgcolor="#191919"><strong>预计分娩日期</strong></td>
    <td bgcolor="#191919"><strong>转出时间</strong></td>
    <td bgcolor="#191919"><strong>转出理由</strong></td>
</tr>
{volist name="log" id="vo"}
    <tr>
        <td>{$vo.erbiao_num}</td>
        <td>{$vo.tc}</td>
        <td>{$vo.breeding_time}</td>
        <td>{$vo.pregnancy_time}</td>
        <td>{$vo.measure}</td>
        <td>{$vo.expected_time}</td>
        <td>{$vo.out_time}</td>
        <td>{$vo.out_reason}</td>
    </tr>
{/volist}
</table>
<div class="page-style">
    {$page2}
</div>
</div>
</div>
</div>



<!--怀孕单元弹窗-->
<div class="edit-hy-tc">
<div class="mark"></div>


<form action="{:url('Hydy/update')}" method="post">
<div class="ups">
<div class="ups-title">编辑信息<div class="close"><img src="/__ADMIN__/img/close.png" /></div></div>
<div class="ups-info">

<div class="ups-info1">
<div class="ups-info-n ups-hy-n">
<div class="info-name">耳标号</div><div class="info-in"><input readonly name="erbiao_num" id="eb_id" type="text" value=" " /></div>
</div>
<div class="ups-info-n ups-hy-n">
<div class="info-name">胎次</div><div class="info-in"><input name="tc" type="number" value="" /></div>
</div>
</div>
<div class="ups-info1">
<div class="ups-info-n ups-hy-n">
<div class="info-name">膘情</div><div class="info-in">
<select id="biaoq" name="measure">
  <option value="瘦">瘦</option>
  <option value="偏瘦">偏瘦</option>
  <option value="正常">正常</option>
  <option value="胖">胖</option>
  <option value="偏胖">偏胖</option>
</select>
</div>
</div>
<div class="ups-info-n ups-hy-n">

<div class="info-name info-buto"><label><input type="checkbox" id="peizhong" value="yes" name="peizhong" />配种</label></div>

</div>
</div>

<div class="ups-opt">
  <label><input type="radio" name="out_reason" class="liuchan" value="流产" id="选择_0" />流产</label>
  <label><input type="radio" name="out_reason" class="siwang" value="死亡" id="选择_0" />死亡</label>
  <label><input type="radio" name="out_reason" class="zhuanchu" value="转出" id="选择_0" />转出</label>
</div>

</div>
<input type="hidden" value="" name="edit_id" id="edit_id" />
<div id="put_form" class="ups-button">提交</div>
</div>
</form>
</div>

</div>

</div>
<!---->
</div>
<script type="text/javascript">
    $("#put_form").click(function(){
        $("form").submit();
    });
</script>
</body>


</html>
