<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理-修改密码</title>
    <link href="__STATIC__/css/cwh.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="__STATIC__/js/jquery.js"></script>
    <script src="__STATIC__/js/dswh.js"></script>
    <script type="text/javascript">

    </script>
    <style>

    </style>
</head>

<body>
<div class="content">
    <!--top-->
    <div class="top">
    <div class="m-min">
        <div class="logo"><img src="/__ADMIN__/img/logo.png"/></div>
        <div class="top-r">
            <div onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)" id="navigation">
                <div class="tx">
                    <div class="tx-img"><img src="/__ADMIN__/img/tx.png"/></div>
                    <div class="tx-name">{$username}</div>
                </div>
                <ul >
                    <li><a href="{:url('Selfs/password')}">密码修改</a></li>
                    <li><a href="{:url('Selfs/information')}">用户信息修改</a></li>
                    <li><a href="{:url('Alluse/logout')}">退出</a></li>
                </ul>
            </div>


        </div>
    </div>
</div>

    <!--位置-->
    <div class="position">
        <div class="m-min">
            <div class="p-info"><a href="/admin">后台管理</a> > <a href="#">用户信息修改</a></div>
        </div>
    </div>
    <div class="row">
     <!--修改密码-->
     <form method="post" action="{:url('password')}" id="form">
        <div class="main">
            <div class="ups的">
                <div class="ups-info">
                    <div class="ups-info-n">
                        <div class="info-name">原密码</div>
                        <div class="info-in"><input name="info[oldpassword]" type="text" /></div>
                    </div>

                    <div class="ups-info-n">
                        <div class="info-name">新密码</div>
                        <div class="info-in"><input id="newpassword" name="info[newpassword]" type="text" /></div>
                    </div>

                    <div class="ups-info-n">
                        <div class="info-name">确认密码</div>
                        <div class="info-in"><input id="rpassword" name="info[rpassword]" type="text" value=""/></div>
                    </div>
                    <div class="ups-button" style="float:left;margin-left:140px;">提交</div>
                    <div class="close-button" style="float:left;margin-left:50px;">取消</div>

                </div>

            </div>
        </div>
       </form>
    </div>

</div>
</div>
</body>
<script type="text/javascript">
    $(".ups-button").click(function(){
        var newpassword = $("#newpassword").val();
        var rpassword = $("#rpassword").val();
        var t = /^(\w{6,})$/;
        if(newpassword != rpassword){
            alert("两次密码不相符");
            return false;
        }
        if(!t.test(rpassword)){
            alert("请输入6位以上字符的密码");
            return false;
        }
        $("#form").submit();
    });
</script>
</html>
